<section>
  <div class="page-header">
    <h1>{{vm.freebie._id ? 'Edit Freebie' : 'New Freebie'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.freebieForm" class="form-horizontal" ng-submit="vm.save(vm.form.freebieForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.freebie.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.freebieForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="url">Url</label>
          <input name="title" type="url" ng-model="vm.freebie.url" id="url" class="form-control" placeholder="Url" required>
          <div ng-messages="vm.form.freebieForm.url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie url is required.</p>
          </div>
        </div>
        <!-- <div class="col-md-4" style="margin-top: 2em">
          <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
        </div> -->

        <!-- <div class="list-group">

          <select class="multiselect list-freebies" data-placeholder="Select Products"
              ng-model="vm.productSelection" ng-options="item._id as item.name for item in vm.freebie.categories"
              multiple="multiple" multiselect-dropdown >

              </select>
  <p>Selection: {{vm.productSelection}}</p>


        <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
            <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
            <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
            <p class="list-group-item-text" ng-bind="user.email"></p>
          </a>
        </div> -->
      <div class="form-group" show-errors>
        <label class="control-label" for="category">Categories</label>
        <ui-select name="cateogires" multiple ng-model="vm.productSelection" theme="bootstrap" ng-disabled="false" sortable="true" close-on-select="true" required>
        <ui-select-match placeholder="Type to select...">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="person in vm.categories | filter: {name: $select.search}">
            <div ng-bind-html="person.name | highlight: $select.search"><small></small></div>
          </ui-select-choices>
        </ui-select>
      </div>
        <!-- <ui-select ng-model="selectedItem">
          <ui-select-match>
              <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (vm.freebie.categories | filter: $select.search) track by item._id">
              <span ng-bind="item.name"></span>
          </ui-select-choices>
        </ui-select> -->

        <div class="form-group" show-errors>
          <label class="control-label" for="imageurl">Image Url</label>
          <input name="title" type="url" ng-model="vm.freebie.imageurl" id="imageurl" class="form-control" placeholder="Image Url" required>

          <div ng-messages="vm.form.freebieForm.imageurl.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie imageurl is required.</p>
          </div>
        </div>
        <div class="row text-center">
          <img width="200 px" ng-if="vm.freebie.imageurl !== undefined" ng-src="{{vm.freebie.imageurl}}" alt="Image" />
            <!-- {{vm.freebie.imageurl}} -->
        </div>
        <!-- <div ng-show="vm.form.freebieForm.imageurl.$dirty">
          <img ng-src="{{vm.form.freebieForm.freebie.imageurl}}" alt="Image" />
          <p>{{vm.freebie.imageurl}}</p>
        </div> -->
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.freebie.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.freebie._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
