<section>
  <div class="page-header">
    <h1>{{vm.freebie._id ? 'Edit Freebie' : 'New Freebie'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.freebieForm" class="form-horizontal" ng-submit="vm.save(vm.form.freebieForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.freebie.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.freebieForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="url">Url</label>
          <input name="title" type="url" ng-model="vm.freebie.url" id="url" class="form-control" placeholder="Url" required>
          <div ng-messages="vm.form.freebieForm.url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie url is required.</p>
          </div>
        </div>
        <input ng-model="query" placeholder="Search for freebies" autofocus>
        <select class="multiselect" data-placeholder="Select Products"
            ng-model="vm.productSelection" ng-options="item._id as item.name for item in vm.freebie.categories"
            multiple="multiple" multiselect-dropdown >

            </select>
<p>Selection: {{vm.productSelection}}</p>


        <div class="form-group" show-errors>
          <label class="control-label" for="imageurl">Image Url</label>
          <input name="title" type="url" ng-model="vm.freebie.imageurl" id="imageurl" class="form-control" placeholder="Image Url" required>
          <div ng-messages="vm.form.freebieForm.imageurl.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Freebie imageurl is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Content</label>
          <textarea name="content" data-ng-model="vm.freebie.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.freebie._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
