.fade {
  opacity: 50;
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
}

.fade.ng-enter{
  transition: 2s linear all;
  -webkit-transition: 2s linear all;
  -moz-transition: 2s linear all;
  opacity: 0;
}
/*.fade.ng-move{
  opacity: 20;
}*/

/*.fade.ng-enter-stagger{
  transition-delay: 1s;
  transition-duration: 0;
}*/
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.freebie-img{
  -webkit-transition:all 1s linear;
   -moz-transition:all 1s linear;
   transition:all 1s linear;
   -webkit-backface-visibility: hidden;
}

.freebie-list {
  margin: 10px;
}
.freebie-img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition:all 1s linear;
   -moz-transition:all 1s linear;
   transition:all 1s linear;
}

.testingClass {
  -webkit-columns: 4 300px; /* Chrome, Safari, Opera */
   -moz-columns: 4 300px; /* Firefox */
   columns: 4 300px;

   -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
   -moz-column-gap: 20px; /* Firefox */
   column-gap: 20px;
   column-fill: balance;
-moz-column-fill: balance;
-webkit-column-fill: balance;
}

.testingClass div:first-child {
    margin-top: 0;
}


#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 300px;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 400px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 700px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

#columns:hover .pin:not(:hover) {
  opacity: 0.4;
}/*.fade.ng-leave {
 transition: all linear 5s;
 opacity: 1;

}

.fade.ng-leave.ng-leave-active {
  transition: 10s linear all;
  -webkit-transition: 10s linear all;
  opacity: 0;
}*/
